<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <h1>Entrar no Sistema</h1>

    <form action="auth/login" method="post">
        Email: <input type="email" id="email" name="email" required><br><br>

       Senha: <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Entrar</button>
    </form>

    <p>Não tem conta? <a href="/auth/cadastro">Cadastre-se</a></p>

</body>
</html>